/* Takki */

.button {
display: inline-block;

border: 1px solid var(--color-dark);
border-radius: var(--border-radius);
padding: calc(var(--spacing) / 2) calc(var(--spacing));

font-family: var(--font-family-base);
text-decoration: none;
text-align: center;

color: var(--color-dark);
background-color: var(--color-white);

transition: background-color var(--transition-time-short)
    var(--transition-timing-function),
    color var(--transition-time-short);
}

.button:hover {
color: var(--color-dark);
background-color: var(--color-gold);
}

.button2{
    display:flex;
    display: inline-block;
    
    border: 1px solid black;
    border-radius: var(--border-radius);
    padding: calc(var(--spacing) / 2) calc(var(--spacing));

    background-color: #6F4E37;
    color: white;

    font-family: var(--font-family-base);
    text-decoration: none;
    text-align: center;
    font-size: 14px;
}